
.page-header {
	background-color: #2C3E50;
    color: white;
}

.logo, .title {
	font-weight: bold;
}

.hero, .about {
	background-color: #1ABC9C;
    color: white;
}

.hero img {
	width: 200px;
}

.hero .subtitle {
	font-size: 14px;
}

.portfolio {
	color: #2C3E50;
}

.portfolio img {
	border-radius: 10px;
}

form * {
	border: none;
    border-bottom: 1px solid grey;
}

::placeholder {
	color:black;
    opacity: none;
}

.send-btn {
    text-align: start;
    background-color: #1ABC9C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .about p {
        column-count: 2;
    }
}